:root {
  --primary-color:#174e6d;
  --secondary-color: #F5F3EE; /* Cansa menos la vista */
  /* --accent-color: #C9A227; */
  /* --secondary-accent-color: #1A1A1A; */ /* Para no usar negro puro */
  --heading-font: "Oswald", sans-serif;
  --body-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  background-color: var(--primary-color);
  text-align: center;
  justify-content: space-around;
  font-family: var(--heading-font);
  padding: .5rem;
  align-items: center;
  color: var(--secondary-color);
}

#menu::before {
  content: "≡";
  color: var(--secondary-color);
}

#menu {
  position:absolute;
  top: .5rem;
  right: 1rem;
  text-decoration: none;
  font-size: 2rem;
  z-index: 1001;
}


#menu.show::before {
  position: fixed;
  top: .5rem;
  right: 1rem;
  content: "X";
  font-family: sans-serif;
  color: var(--secondary-color);
}

.navigation {
  list-style: none;
  margin: 0 4rem;
  max-width: 760px;
  font-family: var(--body-font);
  font-size: 23px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  margin: 1rem;
  text-align: left;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
  transition: 0.5s;

}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

header h1.hide {
  display: none;
}

.show li {
  display: block;
  width: 100%;
}


nav.show {
  position: fixed;/* sino empuja todo en vez de taparlo */
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1000;
}

nav.show .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  margin: 0;
  max-width: none;
  width: 100%
}

nav.show .navigation a {
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--body-font);
  padding: 1rem;
}

figure {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  padding: 1rem;
}

footer {
  background-color: var(--primary-color);
  font-family: var(--body-font);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
}

.author {
  font-size: 23px;
  margin: .5rem 0;
}