:root{
  --primary-color: #27A1CA;
  --secondary-color: #ffff;
  --accent2-color: #D7B131;
  --heading-font: "Oswald", "sans-serif";
  --body-font: "Roboto", sans-serif;
  --margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}

header {
  display: flex;
  background-color: var(--primary-color);
  text-align: center;
  justify-content: space-around;
  font-family: var(--heading-font);
  padding: .5rem;
  align-items: center;
}

#menu {
  position: fixed;
  top: 1rem; /* Eh aqui la solucion a todos mis problemas */
  right: 1rem;
  text-decoration: none;
  font-size: 2rem;
}

h1 {
  margin: 0 2rem;
}


h2 {
  margin: 1rem 0;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

figure {
  margin: 1rem  0;
  width: 100%;
  text-align: center;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}




#menu::before {
  content: "≡";
}


.navigation {
  list-style: none;
  margin: 0 4rem;
  max-width: 760px;
  font-family: var(--body-font);
  font-size: 23px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  margin: 1rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;

}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

header h1.hide {
  display: none;
}

.show li {
  display: block;
  width: 100%;
}


#menu.show::before {
  content: "X";
  font-family: sans-serif;
}

nav.show {
  background-color: var(--primary-color);
  z-index: 1000;
}

nav.show .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin: 0;
  max-width: none;
  width: 100%
}

nav.show .navigation a {
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  font-family: var(--body-font);
  text-align: center;
  padding: 1rem;
}

.author {
  font-size: 23px;
  margin: .5rem 0;
}